* {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  background-color: darkblue;
  color: white;
  position: sticky;
  top: 0;
}

main {
  text-align: center;
  opacity: 0.9;
}

.container {
  margin: 32px 0;
}

.inner-container {
  display: inline-block;
  width: 300px;
  height: 300px;
  outline: 1px darkgray solid;
  margin: 0 20px;
  background-color: wheat;
}

img { /* imgのスタイルをここにまとめる */
  margin-top: 24px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

footer { /* footerのスタイルをここにまとめる */
  text-align: center;
  font-size: 12px;
  margin-top: 32px;
}
